@model IEnumerable<Terminology>

<div style="display: block">
    <a href="/Terminology/InsertTerminology/">Create New Terminology</a>
</div>
<div style="text-align: center">
    <table class="table" style="width: 100%">
        <tr>
            <th style="width: 10%">Category</th>
            <th style="width: 15%">Term</th>
            <th style="width: 75%">Defintion</th>
        </tr>

        @foreach (var terminology in Model.OrderBy(t => t.Category))
        {
            <tr>
                <td style="width: 10%"><a href=/Categories/Index/@terminology.Category>@terminology.Category</a></td>
                <td style="width: 15%"><a href=/Terminology/ViewTerminology/@terminology.ID>@terminology.Term</a></td>
                <td style="width: 75%">@terminology.Definition</td>
           </tr>
        }

    </table>
</div>